_ReSharperPlatformVs121.SteamServerBrowser/*
QueryMaster/QueryMaster.dll
QueryMaster/QueryMaster/bin/*
QueryMaster/QueryMaster/obj/*
ServerBrowser/bin/*
ServerBrowser/obj/*
*/Thumbs.db
*.suo
*.user
*.DotSettings
SteamServerBrowser_*/*
SteamServerBrowser_*.zip
Sourceforge/*
*.bak
Thumbs.db
ServerBrowser/phgp/
Main/bin/
Main/obj/
ServerBrowser/images/flags/*
packages/*
ServerBrowser/amd64/
ServerBrowser/i386/
_ReSharper.Caches/
workshop/
SteamServerBrowser.opensdf
SteamServerBrowser.sdf
/SteamServerBrowser/
SteamServerBrowser*.zip
.vs/config/applicationhost.config
/.vs/
