<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="ServerBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  </configSections>
  <userSettings>
    <ServerBrowser.Properties.Settings>
      <setting name="Skin" serializeAs="String">
        <value>Office 2010 Black</value>
      </setting>
      <setting name="InitialGameID" serializeAs="String">
        <value>324810</value>
      </setting>
      <setting name="FavGameIDs" serializeAs="String">
        <value>324810,328070,440</value>
      </setting>
      <setting name="MasterServer" serializeAs="String">
        <value>hl2master.steampowered.com:27011</value>
      </setting>
      <setting name="ToxikkConsoleKey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowOptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshSelected" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MasterServerList" serializeAs="String">
        <value>hl2master.steampowered.com:27011,hl1master.steampowered.com:27011,masterserver.css.setti.info:27011</value>
      </setting>
      <setting name="GetEmptyServers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GetFullServers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAddressMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TagsInclude" serializeAs="String">
        <value />
      </setting>
      <setting name="TagsExclude" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterMod" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterMap" serializeAs="String">
        <value />
      </setting>
      <setting name="FavServers" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepFavServersOnTop" serializeAs="String">
        <value>False</value>
      </setting>
    </ServerBrowser.Properties.Settings>
  </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
