<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="ServerBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  </configSections>
  <userSettings>
    <ServerBrowser.Properties.Settings>
      <setting name="Skin" serializeAs="String">
        <value>Office 2010 Black</value>
      </setting>
      <setting name="Branding" serializeAs="String">
        <value />
      </setting>
      <setting name="LogoHeight" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="FontSizeDelta" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="InitialGameID" serializeAs="String">
        <value>324810</value>
      </setting>
      <setting name="FavGameIDs" serializeAs="String">
        <value>324810,328070,440</value>
      </setting>
      <setting name="MasterServer" serializeAs="String">
        <value>hl2master.steampowered.com:27011</value>
      </setting>
      <setting name="ToxikkConsoleKey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowGamePortInAddress" serializeAs="String">
        <value>True</value>
      </setting>
    </ServerBrowser.Properties.Settings>
  </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
